<tr>
  <td>
    <%= tag.title %>
  </td>

  <td class="text-right">
  	<%= link_to 'Ver', admin_tag_path(tag), class: 'btn btn-light' %>
    <%= link_to 'Editar', edit_admin_tag_path(tag), class: 'btn btn-outline-dark' %>
    <%= link_to 'Destruir', admin_tag_path(tag), class: 'btn btn-outline-danger', method: :delete, data: {confirm: '¿Está seguro?'} %>
  </td>
</tr>
